*{
    margin: 0;
    padding: 0;

}

.container{
    width: 60%;
    border: 2px solid black;
    margin: auto;
    padding: 10px;

}

@media screen and (max-width: 900px){
    .container{
width: 80%;
    }
    
}

@media screen and (max-width: 500px){
    .container{
width: 100%;
    }
    
}


