.container{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: blue;
    margin: auto;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    /* -----rotate------- */
    transform: rotatez(90deg);
    /* transform: rotateY('-90deg');
    transform: rotateZ('-90deg'); */


}