*{
   
padding: 0;
margin: 0;
}
#container{
    width: 70%;
    background-color: aquamarine;
    height: 540px;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    /* flex-direction: row-reverse; */
    align-content: center;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    
}
.div{
    
    height: 150px;
    background-color: blanchedalmond;
    border: 1px black solid;
    width: 300px;
    text-align: center;
    /* padding-top: 50px; */

   
    
}