*{
    padding: 0;
    margin: 0;
}


nav{
    /* background-color:#edf0f5 ;
    height: 40px;
    text-align: end;
    padding-top: 10px;
   position: fixed;
   width: 1520px; */

   /* background-color: #39393A; */
   background-color: #1C1D21;
   height: 120px;
   position: fixed;
   width: 100%;
}
a{
    color: white;
    text-decoration: none;
}
/* a{
    text-decoration: none;
    padding: 20px;
    border-right: 1px solid rgb(47, 45, 45);
    color: #28374F;
    font-size: 18px;
    
}
a:hover{
    color: #5a91d4;
} */
 .image img{
    width: 1519px;
}  

.parent{
    /* background-color: #297373; */
    /* background-color: #BB9BB0; */
    /* background-color: #82A3A1; */
    /* background-color: #EDAFB8; */
    /* background-color: #746ca9; */
    /* background-color: #6665DD; */
    /* background-color: #463F3A; */
    /* background-color: 9B9ECE; */
    display: flex;
    padding: 50px;
    gap: 40px;
    justify-content: center;
   

    
   
}
.card img{
    width: 400px;
    padding: 30px;
   
    
}
.card img:hover{
    scale: 1.25;
}
 .card{
    
    text-align: center;
    /* background-color: #4f6b8aa4; */
    height: 400px;
    transition: 0.5s ease-in-out;
} 


footer{
    /* background-color: #FF8552; */
    /* background-color: #F1E3E4; */
    /* background-color: #F4F3EE; */
    height: 300px;
    background-color: #F4F3EE;
}

.container{
    display: flex;
    color: black;
    gap: 20px;
    flex-wrap: wrap;
   
}
.container h4{
    padding: 40px;
    
    
}
.container div{
    gap: 50px;
    
    margin-left:100px ;
}
.container-2{
    height: 400px;
    /* background-color: #E9D758; */
    /* background-color: #A288A6; */
    background-color: #8A817C;
}
.container-0{
    height: 400px;
    /* background-color: #E9D758; */
    /* background-color:#CCBCBC; */
    /* background-color: #1C1D21; */
    background-color: #BCB8B1;
}

/* .image{
    position:;
} */
.imgecontant{
    position: absolute;
    bottom:350px ;
    right: 200px;
    color: white;
    
    /* font-size: 50px;
    font-family: 'Lobster', cursive;
    text-decoration: underline; */

}
#shopnow{
    border: 1px rgb(255, 255, 255) solid;
    padding: 10px 25px;
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
    width: 100px;
    margin-left: 20px;
    cursor: pointer;
}
#maintext p{
    font-size: 40px;
    display: inline-block;
    padding: 5px;
   font-family: Georgia, 'Times New Roman', Times, serif;
    }

#maintext p::first-letter{
    font-size: 70px;
}
#time{
    padding: 20px;
    font: 1.2em sans-serif;
    font-style: italic;
   
}    





