
body{
    display: flex;
    justify-content: center;
    
}

div{
    width: 80px;
    height: 80px;
    border-top: 10px black solid;
    border-left: 10px black solid;
    border-right:  10px black solid;
    border-bottom: 10px rgb(137, 136, 136) solid;
    border-radius: 50%;
    margin: 300px;
    animation-name: loder;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  


}
@keyframes loder {
    100%{
        transform: rotateZ(360deg);
    }
    
}

section{
    width: 80px;
    height: 80px;
    border: 2px black solid;
    background-color: chocolate;
    animation-name: box;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    margin-top:50px ;
    animation-timing-function: linear;
}
@keyframes box {
    100%{
        transform: rotateZ(360deg);
    }
    
}

